// Colours
$black: #000000;
$dark: #202121;
$medium: #424242;
$light: #f4f7f6;
$lightBlue: #e6eaea;
$white: #ffffff;
$highlight: #63ffa9;
$link: #0888fd;
$accent: #f0222c;
$yellow: #fffa62;

// Fonts
$sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$questrial: 'Questrial', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
