{% extends "_layouts/base" %}

{# Define the site navigation #}
{%
    set nav = {
    	home:      { title: "Home" },
    	about:     { title: "About" },
    	books:     { title: "Books" },
    	events:    { title: "Events" },
        faq:       { title: "FAQ"},
        contact:   { title: "Contact"}
    }
%}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle ~ entry.id : craft.request.firstSegment %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
	{% set title %}{% if title is defined %}{{ title }} - {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}

{% block body %}
    <header id="header">
        <h1>Lucy Christopher <small>Writer &bull; Teacher &bull; Coach</small></h1>
    </header>
    <nav id="nav" class="navbar navbar-expand-lg sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons menu-cross">menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% for slug, item in nav %}
                    <a class="nav-item nav-link{% if craft.request.firstSegment == slug %} active{% endif %}" href="{{ url(slug) }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
    <main id="main" role="main">
        {% block hero %}{% endblock %}
        {% block main %}{% endblock %}
	</main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>{{ craft.request.serverName | lcfirst }} &copy; {{ now.year }}. All rights reserved. <br> Code by<a href="#"> redward</a></p>
                </div>
            </div>
        </div>
	</footer>
{% endblock %}
